<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070075371414-6mddnpt9b5og0rrcsdpo1el4n63d2jei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070075371414-6mddnpt9b5og0rrcsdpo1el4n63d2jei</string>
	<key>API_KEY</key>
	<string>AIzaSyAKi-13C0Tyeb31PkcCSOxxqof4BWPpMpE</string>
	<key>GCM_SENDER_ID</key>
	<string>1070075371414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-48c9a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-48c9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070075371414:ios:9b3329be0cbc54e46247b7</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-48c9a.firebaseio.com</string>
</dict>
</plist>